.wrapper{
  .chat-side{
    width: 300px;
    color: white;
    float: left;
    height: 100vh;
    .side-header{
      background-color: #253141;
      height: 100px;
      align-items: center;
      padding: 0 20px;
      .side-header__user-name{
      .user-menu{
        .user-menu__edit-user{
        .user-menu__new-group{

              }
            }
          }
        }
      }
    .groups{

      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
        .group__group-name{
          text-decoration: none;
          font-size: 15px;
          margin-bottom: 5px;
        }
        .group__latest-message{
          text-decoration: none;
          font-size: 11px;

        }
    }
  }
}

p{
  color: white;
  text-decoration: none ;
}